@media screen and (min-width: 600px) {
	.container {
		margin-top: 50px;
	}
}

.col-md-6 button {
	margin-bottom: 10px;
}

.panel-heading{
	text-align: center;
}

.panel-heading h3 {
	font-weight: bold;
}

.panel-heading a {
	padding: 12px 14px;
}

.back-icon-btn {
	margin-left: -16px;
	margin-top: -11px;
}

.panel-body-center {
	text-align: center;
}

.icon-flipped {
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}

.select-major {
	padding-right: 10px;
}